name: Deploy S3 bucket
on:
  push:
    branches: [ "main2" ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ vars.AWS_ACCOUNT_ID }}:role/githubaws
          aws-region: us-east-1

      - name: Deploy CloudFormation stack
        run: |
          aws cloudformation delete-stack --stack-name my-ec2-stack
          # aws cloudformation deploy \
          #   --template-file ec2.yaml \
          #   --stack-name my-ec2-stack \
          #   --no-fail-on-empty-changeset
