name: Pytest AWS Checks

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  id-token: write    # required for OIDC
  contents: read     # required to checkout the repo

jobs:
  test-aws:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: us-east-1   # change if needed

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ vars.AWS_ACCOUNT_ID }}:role/githubaws
          aws-region: us-east-1

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install boto3 pytest

      - name: Run pytest
        run: |
          pytest -v
